= form_with model: pod do |form|
  = form.label :date
  = form.date_field :date

  %p
    = form.fields_for :pod_results do |pod_result_fields|
      = pod_result_fields.label :user
      = pod_result_fields.select :user_id, User.all.collect { |u| [u.full_name, u.id] }, include_blank: true
      = pod_result_fields.label :place
      = pod_result_fields.number_field :place

  %p
    = form.submit